.cards{
    width: 85%;
}
.text-section-cards{
    width: 70%;
    font-size: 0.9rem;
    margin-top: 1.5rem;
}
.conteiner-cards{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2.5rem;
    margin: 0;
    padding-top: 2rem;
}
.card{
    border: none;
    width: 20rem;
    box-shadow: 0 0 15px #cdcdcd ;
}
.img-card{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.conteiner-info-card{
    padding: 0.5rem 1rem;
}
.text-card{
    font-size: 0.8rem;
}
.card:hover{
    background-color: #eaeaea;
    transition: all 0.3s linear;
    scale: 1.05;
}
@media (max-width:768px){
    .cards{
        width: 85%;
    }
    .text-section-cards{
        width: 100%;
    }
}
@media (min-width:769px) and (max-width:1024px){

}